body {
  font-family: 'Inter';
  letter-spacing: -0.02em;
}

.text-h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 20.4px;
}

.text-h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}

.text-h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16.1px;
  text-align: center;
}
