.vuecal--erp-theme {
  /* ---- background highlighting ----*/
  :deep(.active-hours) {
    background-color: rgba(75, 183, 55, 0.15);
    border: solid rgba(77, 185, 57, 0.3);
    border-width: 2px 0;
  }
  :deep(.away-hours) {
    background-color: rgba(248, 0, 0, 0.15);
    border: solid rgba(250, 32, 32, 0.3);
    border-width: 2px 0;
  }
  :deep(.business-hours) {
    background-color: rgba(255, 255, 0, 0.15);
    border: solid rgba(255, 210, 0, 0.3);
    border-width: 2px 0;
  }

  :deep(.vuecal__menu, .vuecal__cell-events-count) {
    padding: 8px 0;
    background: linear-gradient(
      157.69deg,
      #14a470 0.72%,
      #149fa4 37.16%,
      #149fa4 67.19%,
      #1481a4 99.2%
    );
  }
  :deep(.vuecal__title-bar) {
    background-color: #d4efe1;
  }
  :deep(.vuecal__view-btn--active) {
    border-radius: 10px;
    border-bottom: 0;
    background: linear-gradient(
      88.54deg,
      rgba(244, 252, 255, 0.3) 1.52%,
      rgba(246, 253, 255, 0.4) 27.54%,
      rgba(249, 253, 255, 0.2) 65.82%,
      rgba(255, 255, 255, 0.05) 99.69%
    );
  }
  :deep(.vuecal__view-btn) {
    transition: 0s;
    color: #ffffff;
  }
  :deep(.vuecal__body) {
    background-color: #eef5f5;
  }
  :deep(.vuecal__weekdays-headings) {
    background-color: #eef5f5;
  }
  :deep(.vuecal__cell--today, .vuecal__cell--current) {
    background-color: rgba(240, 240, 255, 0.4);
  }
  :deep(.vuecal:not(.vuecal--day-view) .vuecal__cell--selected) {
    background-color: rgba(235, 255, 245, 0.4);
  }
  :deep(.vuecal__cell--selected:before) {
    border-color: rgba(66, 185, 131, 0.5);
  }

  :deep(.month-view) {
    .vuecal__cell {
      text-align: start;
      align-items: start;
      .vuecal__cell-content {
        padding: 8px;
        justify-content: start;
      }
    }
  }

  :deep(.week-view) {
    .vuecal__event {
      width: calc(100% - 2px) !important;
      margin: 0 1px;
      border-radius: 8px;
    }
  }
}
